.custom-card{
    background-image: linear-gradient(to bottom right, red, yellow);
}

body{
    background-color: black;
    
}

.button:hover{
    background-image: linear-gradient(black, grey);
}

.button-card:hover{
    background-image: linear-gradient(to bottom right, yellow, red);
}

.favoritos{
    list-style-type: none !important;

}

h2{
    background: #FF0000;
background: linear-gradient(to left, black 80%, red 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-left: 15px;

}

.background{
    background-color: black;
}
