/* 
    General Styles
*/

.card{
    background-color: black;
    border-color: aqua;
}

h3{
    text-decoration: underline}
h5{
    text-decoration: underline}

.photo{
    height: 600px;
    width: 450px;
    
    border-radius: 20px;
    
    }   

    .photoPlanets{
        height: 600px;
        width: 600px;
        
        border-radius: 20px;
        
        }
        .photoVehicles{
            height: 450px;
            width: 600px;
            
            border-radius: 20px;
            
            }   